body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/avocados.jpeg);
}

.brand-logo {
    margin-left: 10px;
    margin-top: 5px;
    font-family: Papyrus, Fantasy;
    font-weight: 600;
}

.warning-sign {
    color: #ff8a65;
}

.welcome-sign {
    font-family: Papyrus, Fantasy;
    font-weight: 900;
    padding: 22px 15px 15px 15px;
}

.categories-heading{
    font-family: Papyrus, Fantasy;
    font-weight: 600;
    padding: 19px 12px 12px 12px;
}

.btn-small {
    margin-right: 15px;
}

.recipe-name {
    font-weight: bolder;
}

.recipe-view {
    line-height: 30px;
}

.recipe-heading {
    font-weight: bolder;
    color: #009688;
}

.page-footer {
    padding-top: 0;
    background-image: url(assets/images/avocados.jpeg);
}

.social-link {
    text-align: center;
    padding-right: 35px;
}

#close {
    padding: 5px;
}

#close:hover {
    background: #ffccbc;
    color: black;
    font-size: large;
    padding: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #ff6e40, 2px -2px 2px #ff6e40, -2px -2px 2px #ff6e40, -2px 2px 2px rgb(129, 123, 123); /*guidance taken from MDN reference*/
}