html {
    min-height: 100vh;
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://res.cloudinary.com/djaujigfg/image/upload/v1633357986/avocados_uahtsc.jpg") repeat center center fixed;
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction: column; 
}

.brand-logo {
    margin-left: 10px;
    margin-top: 5px;
    font-family: Papyrus, Fantasy;
    font-weight: 600;
}

.warning-sign {
    height: fit-content;
    color: #ff8a65;
}

.welcome-sign {
    font-family: Papyrus, Fantasy;
    font-weight: 900;
    padding: 22px 15px 15px 15px;
    border: 1.5px solid white;
}

.categories-heading{
    font-family: Papyrus, Fantasy;
    font-weight: 600;
    padding: 19px 12px 12px 12px;
}

h3, h4 {
    background-color: #ff8a65;
    font-family: Papyrus, Fantasy;
    font-weight: 600;
    padding: 19px 12px 12px 12px;
}

.card-content {
    height: 130px;
    word-break: break-word;
}

.card .card-content {
    padding: 5px;
}

@media (max-width: 1277px){
    .card-content {
        height: 190px;
    }
}

@media (max-width: 723px){
    .card-content {
        height: 195px;
    }
}

@media (max-width: 670px){
    .card-content {
        height: 220px;
    }
}

@media (max-width: 600px){
    .card-content {
        height: 150px;
    }
}

.btn-small {
    margin-right: 15px;
}

.button {
    display: block;
}
.recipe-name {
    font-weight: bolder;
}

.recipe-view {
    line-height: 30px;
}

.recipe-heading {
    font-weight: bolder;
    color: #009688;
}

.add-category {
    border: 1px solid white;
}

.page-footer {
    padding-top: 0;
    background-image: url(assets/images/avocados.jpeg);
}

.social-link {
    text-align: center;
    padding-right: 35px;
}

#close:hover {
    background: #ffccbc;
    color: black;
    box-shadow: 2px 2px 2px #ff6e40, 2px -2px 2px #ff6e40, -2px -2px 2px #ff6e40, -2px 2px 2px rgb(129, 123, 123); /*guidance taken from MDN reference*/
}

footer {
    min-height: 50px;
    margin-top: auto;
}