{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="deep-orange lighten-2 center-align z-depth-3 white-text">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="card-panel">
        <h5 class="center-align"> Your favorite recipes </h5>

        {% if favorite_recipes|length > 0 %}
        <ul class="collapsible z-depth-3">
            {% for recipe in favorite_recipes %}
            <li>
                <div class="collapsible-header deep-orange lighten-2">
                    <div class="col s3">
                        <i class="material-icons" id="{{recipe._id}}">expand_more</i>
                        <a href="{{ url_for('remove_from_favorite', recipe_id=recipe._id, user_id = session['user']) }}" class="waves-effect waves-red btn-small delete">Remove</a>
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small delete">Delete</a>
                        {% endif %}
                    </div>
                    <div class="col s9">
                        <div class="recipe-name">
                            {% if recipe.HSE_approved == "on" %}
                                <i class="material-icons prefix tooltipped" data-position="top" data-tooltip="Approved by HSE">child_care</i>
                            {% endif %}
                            {{ recipe.recipe_name }}
                        </div>
                        <div>{{ recipe.age_group }}</div>
                    </div>

                    
                </div>
                <div class="collapsible-body recipe-view white">
                    <div>
                        <span class="recipe-heading">Meal Type:</span>
                        <span>{{ recipe.meal_type }}</span>
                    </div>
                    <div>
                        <span class="recipe-heading">Ingredients:</span>
                        <span>{{ recipe.ingredients }}</span>
                    </div>
                    <div>
                        <span class="recipe-heading">Cooking Instructions:</span>
                        <span>{{ recipe.cooking_instructions }}</span>
                    </div>
                    <div>
                        <span class="recipe-heading">Cooking Time:</span>
                        <span>{{ recipe.cooking_time }}</span>
                    </div>
                    <div>
                        <span class="recipe-heading">Approved by HSE</span>
                        <span>
                            {% if recipe.HSE_approved == "on" %}
                            <u>yes</u>
                            {% else %}
                            <u>no</u>
                            {% endif %}
                        </span>
                    </div>
                    {% if recipe.views %}
                    <div>
                        <span class="recipe-heading">Views:</span>
                        <span id="views">{{recipe.views}}</span>
                    </div>
                    {% endif %}
                    <div>
                        <span><em>Recipe Added by: {{ recipe.created_by }}</em></span>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <h3 class="lighten-2 center-align">No favorite recipes</h3>
        {% endif %}
    </div>

{% endblock %}