{% extends "base.html" %}
{% block content %}
    <h3 class="deep-orange lighten-2 center-align">All Recipes</h3>

    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes
                        <i class="material-icons left">search</i>
                    </label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Search
                        <i class="material-icons right">search</i>
                      </button>
                </div>
            </div>
        </form>
    </div>

    {% if categories|length > 0 %}
    <ul class="collapsible">
        <div class="row">
            {% for category in categories %}
                <div class="col s12 m4">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title"> {{ category.age_group }}</span>
                            <p>description</p>
                        </div>
                        <div class="card-action">
                            <a href="#">See more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="lighten-2 center-align">No results</h3>
    {% endif %}
        
{% endblock %}