
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/3784920e35.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/djaujigfg/image/upload/v1633531051/avocado-favicon_mom0x1.gif"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% block styles %}
    {% endblock %}
    <title>Baby Noms</title>
</head>
<body>
    <header>
        <nav class="deep-orange lighten-2">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo">Baby Noms</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_collections') }}">Home</a></li>
                    <li><a href="{{ url_for('get_recipes') }}">All recipes</a></li>

                    {% if session.user %}
                        <li><a href="{{ url_for('add_recipe') }}">Add a recipe</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="{{ url_for('get_categories') }}">Manage Age Groups</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('account', username=session['user']) }}">My Favourites</a></li>
                        <li><a href="{{ url_for('signOut') }}">Sign out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('signIn') }}">Sign in</a></li>
                    {% endif %}
                </ul>
            </div>
          </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align">Baby Noms</h4></li>
            <li><a href="{{ url_for('get_collections') }}">Home</a></li>
            <li><a href="{{ url_for('get_recipes') }}">All recipes</a></li>
            
            {% if session.user %}
                <li><a href="{{ url_for('add_recipe') }}">Add a recipe</a></li>
                {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_categories') }}">Manage Age Groups</a></li>
                {% endif %}
                <li><a href="{{ url_for('account', username=session['user']) }}">My Favourites</a></li>
                <li><a href="{{ url_for('signOut') }}">Sign out</a></li>
            {% else %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('signIn') }}">Sign in</a></li>
            {% endif %}
        </ul>
    </header>

    <section class="body">
        <div class="row">
            <div class="col m10 offset-m1">
              <div class="card warning-card">
                <div class="card-content warning-sign z-depth-3 warning-card">
                    <div class="row">
                        <div class="col s12 m11">
                            <span>WARNING:<br>
                                All the recipes listed on this website are shared by parents and other child caregivers from all over the world. It is your responsibility to follow your doctor's advice when introducing and giving solid foods to your child.
                            </span>
                        </div>
                        <div class="col right">
                            <a id="close" class="btn-floating btn-small deep-orange lighten-1 waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <section>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer black">
        <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright
                <a class="grey-text text-lighten-4 right social-link" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="grey-text text-lighten-4 right social-link" href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a class="grey-text text-lighten-4 right social-link" href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="grey-text text-lighten-4 right social-link" href="https://www.pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </footer>
    
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>