{% extends "base.html" %}
{% block content %}

    <h3 class="deep-orange lighten-2 center-align z-depth-3 white-text">Manage Age Groups</h3>

    <div class="row">
        <div class="col m6 s12 center-align offset-m3">
            <a href="{{ url_for('add_category') }}" class="waves-effect waves-light btn z-depth-4 add-category">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>


    <div class="row white z-depth-2">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card teal accent-4">
                    <div class="card-content white-text">
                        <span class="card-title"> {{ category.age_group }}</span>
                        <p>{{ category.description }}</p>
                    </div>
                    <div class="card-action">
                        <a class="deep-orange-text text-lighten-4" href="{{ url_for('edit_category', category_id=category._id) }}">Edit</a>
                        <a class="deep-orange-text text-lighten-4 delete" href="{{ url_for('delete_category', category_id=category._id) }}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}