{% extends "base.html" %}
{% block content %}

<h3 class="deep-orange lighten-2 center-align z-depth-3 white-text">Edit Recipe</h3>

<div class="row card-panel orange lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <!-- recipe name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="recipe_name" name="recipe_name" minlength="4" maxlength="50" 
                    value="{{ recipe.recipe_name }}"type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
        <!-- age group -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">supervisor_account</i>
                <select id="age_group" name="age_group" class="validate" required>
                    <option value="" disabled>Select age group</option>
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.age_group }}" selected>{{ category.age_group }}</option>
                        {% else %}
                            <option value="{{ category.age_group }}">{{ category.age_group }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="age_group">Age Group</label>
            </div>
        </div>
        <!-- meal type -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_dining</i>
                <select id="meal_type" name="meal_type" class="validate" required>
                    <option value="" disabled>Select meal type</option>
                    {% for meal_type in meal_types %}
                        {% if meal_type.meal_type == recipe.meal_type %}
                            <option value="{{ meal_type.meal_type }}" selected>{{ meal_type.meal_type }}</option>
                        {% else %}
                            <option value="{{ meal_type.meal_type }}">{{ meal_type.meal_type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="meal_type">Meal type</label>
            </div>
        </div>
        <!-- ingredients -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_bulleted</i>
                <textarea id="ingredients" name="ingredients"
                    class="materialize-textarea validate" minlength="3" required>
                    {{- recipe.ingredients -}}
                </textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <!-- cooking instructions -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">create</i>
                <textarea id="cooking_instructions" name="cooking_instructions"
                    class="materialize-textarea validate" minlength="15" required>
                    {{- recipe.cooking_instructions -}}
                </textarea>
                <label for="cooking_instructions">Cooking Instructions</label>
            </div>
        </div>
        <!-- cooking time -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">timer</i>
                <select id="cooking_time" name="cooking_time" class="validate" required>
                    <option value="" disabled>Select cooking time</option>
                    {% for time in cooking_time %}
                        {% if time.cooking_time == recipe.cooking_time %}
                            <option value="{{ time.cooking_time }}" selected>{{ time.cooking_time }}</option>
                        {% else %}
                            <option value="{{ time.cooking_time }}">{{ time.cooking_time }}</option>
                        {% endif%}
                    {% endfor %}
                </select>
                <label for="cooking_time">Cooking time</label>
            </div>
        </div>
        <!-- HSE approval toggle -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="material-icons prefix">child_care</i>
                    <label for="HSE_approved">
                        {% if recipe.HSE_approved == "on" %}
                            <input type="checkbox" id="HSE_approved" name="HSE_approved" checked>
                        {% else %}
                            <input type="checkbox" id="HSE_approved" name="HSE_approved">
                        {% endif %}
                            <span class="lever"></span>
                        Approved by HSE
                    </label>
                </div>
            </div>
        </div>
        <!-- submit/cancel new recipe form button -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light btn"><i class="material-icons right">cancel</i>Cancel</a>
                <button class="btn waves-effect waves-light" type="submit">Edit Recipe
                    <i class="material-icons right">edit</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}