{% extends "base.html" %}
{% block content %}

    <h3 class="deep-orange lighten-2 center-align">Welcome to Baby Noms</h3>

    <h5 class="deep-orange lighten-2 center-align">Browse Meal Types</h5>

    <div class="row">
        {% for collection in collections %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"> {{ collection.meal_type }}</span>
                        <p>description</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h5 class="deep-orange lighten-2 center-align">Browse Age Groups</h5>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title"> {{ category.age_group }}</span>
                        <p>description</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}