
{% extends "base.html" %}
{% block content %}
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        /*alert($SCRIPT_ROOT)*/
    </script>
    <script>
        /** https://flask.palletsprojects.com/en/2.0.x/patterns/jquery/ */
        /** https://uk.wikipedia.org/wiki/AJAX */
        /** https://www.w3schools.com/jquery/jquery_ref_selectors.asp */
        /** https://hruks.ru/2020/05/03/ajax-%D0%B8-jquery-flask-1-1-2-%D0%BF%D1%80%D0%BE%D1%81%D1%82%D0%BE%D0%B9-%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80/ */

        
        
        $(document).ready(function() {
            $('i.material-icons').bind('click', function(){
                
                /*Get Id of clicked element*/
                /*alert(event.target.id)*/
                $.getJSON($SCRIPT_ROOT + '_add_view_on_recipe', {
                    id_recipe: event.target.id,
                    
                }, function(data) {
                    $("span#views").text(data.views);
                });
                return true;
            });
        
            /* https://www.reddit.com/r/flask/comments/25zjtb/af_can_someone_show_me_how_to_build_json_object/ */
            var json_recipes = jQuery.parseJSON({{json_data | tojson | safe}});
            /*console.log(json_recipes);*/
            
            $("#json_data").val(JSON.stringify(json_recipes));

            $("#title_to_pass").val($('#title').text());
        });
        
    </script>

    <h3 class="deep-orange lighten-2 center-align z-depth-3 white-text" id="title">
        {% if page_title %}
        {{ page_title }}
        {% else %}
        Default title
        {% endif %}
    </h3>

    <div class="row white z-depth-3">
        <form action="{{ url_for('search') }}" method="post" class="col s12">

            <input type="hidden" name="json_data" id="json_data" value="">
            <input type="hidden" name="title_to_pass" id="title_to_pass" value="">

            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes
                        <i class="material-icons left">search</i>
                    </label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes', json=json_data) }}" class="red btn text-shadow">Reset</a>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Search
                        <i class="material-icons right">search</i>
                      </button>
                </div>
            </div>
        </form>
    </div>

    {% if recipes|length > 0 %}
    <ul class="collapsible z-depth-3">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header deep-orange lighten-2">
                <div class="col s3">
                    <i class="material-icons" id="{{recipe._id}}">expand_more</i>
                    {% if session.user %}
                    <a href="{{ url_for('add_to_favorite', recipe_id=recipe._id, user_id = session['user']) }}" class="waves-effect waves-light btn-small">To favourites</a>
                    {% endif %}
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Delete</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    <div class="recipe-name">
                        {% if recipe.HSE_approved == "on" %}
                            <i class="material-icons prefix tooltipped" data-position="top" data-tooltip="Approved by HSE">child_care</i>
                        {% endif %}
                        {{ recipe.recipe_name }}
                    </div>
                    <div>{{ recipe.age_group }}</div>
                </div>

                
            </div>
            <div class="collapsible-body recipe-view white">
                <div>
                    <span class="recipe-heading">Meal Type:</span>
                    <span>{{ recipe.meal_type }}</span>
                </div>
                <div>
                    <span class="recipe-heading">Ingredients:</span>
                    <span>{{ recipe.ingredients }}</span>
                </div>
                <div>
                    <span class="recipe-heading">Cooking Instructions:</span>
                    <span>{{ recipe.cooking_instructions }}</span>
                </div>
                <div>
                    <span class="recipe-heading">Cooking Time:</span>
                    <span>{{ recipe.cooking_time }}</span>
                </div>
                <div>
                    <span class="recipe-heading">Approved by HSE:</span>
                    <span>
                        {% if recipe.HSE_approved == "on" %}
                        <u>yes</u>
                        {% else %}
                        <u>no</u>
                        {% endif %}
                    </span>
                </div>
                
                <div>
                    <span class="recipe-heading">Views:</span>
                    <span id="views">#</span>
                </div>

                <div>
                    <span><em>Recipe Added by: {{ recipe.created_by }}</em></span>
                </div>
                
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="lighten-2 center-align">No results</h3>
    {% endif %}
        
{% endblock %}