{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.age_group }}<br>
        {{ recipe.meal_type }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.cooking_instructions }}<br>
        {{ recipe.HSE_approved}}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header deep-orange lighten-2"><i class="material-icons">expand_more</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header deep-orange lighten-2"><i class="material-icons">expand_more</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header deep-orange lighten-2"><i class="material-icons">expand_more</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
{% endblock %}