{% extends "base.html" %}
{% block content %}
    <h3 class="deep-orange lighten-2 center-align">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header deep-orange lighten-2">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    {% if session.user|lower == recipe.created_by|lower %}
                    <a href="" class="waves-effect waves-light btn-small">Save</a>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Edit</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">Delete</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    {% if recipe.HSE_approved == "on" %}
                        <i class="material-icons prefix tooltipped" data-position="top" data-tooltip="Approved by HSE">child_care</i>
                    {% endif %}
                    <strong>{{ recipe.recipe_name }}</strong><br>
                    {{ recipe.age_group }}
                </div>

                
            </div>
            <div class="collapsible-body">
                <p>{{ recipe.meal_type }}</p>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.cooking_instructions }}</p>
                <p>{{ recipe.HSE_approved}}</p>
                <p><em>Added by: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}