{% extends "base.html" %}
{% block content %}

    <h3 class="deep-orange lighten-2 center-align z-depth-3 white-text">Sign In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signIn') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">directions_run</i>
                        <input id="login" name="login" type="text" class="validate">
                        <label for="login">Username/Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate" minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]{8,20}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large">Sign In</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not registered? 
                <a href="{{ url_for('register')}}">Create Account</a>
            </p>
        </div>
    </div>

{% endblock %}